; Place this file in your project directory

[site]
; This is the name of your site
name = "The Site Name"
; This is the tagline
tagline = "The Site Tagline"
; This is the URL of your site
url = "https://www.example.com"
; This is where your HTML files go
root = /path/to/www/dir
; The theme of your site
theme = theme_name
; sitemap or not: true or false
sitemap = true
; Do you want the blog to appear on the front page
; true = yes and false = no
blog = true

[project]
; This is where you work before you generate the outpu
root = /path/to/working/project
; Languages: en_US, en_UK, es_ES, nb_NO, fr_FR
lang = en_US
; Use QStags (native) or Markdown (markdown)
generator = native
